body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      a{
        text-decoration: none;
        color: black;
      }

      nav {
        background-color: #333;
        color: #fff;
        text-align: right;
        padding: 15px 15px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
      }

      h3 {
        font-size: 1.1em;
      }

      nav a {
        text-decoration: none;
        color: #fff;
        margin: 0 15px;
        margin-right: 30px;
        transition: font-size 0.3s, background-color 0.3s, color 0.3s;
      }

      nav>a:hover {
        color: darkcyan;
        font-size: large;
        /* color: black; */
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        padding: 20px;
        margin-top: 60px;
      }

      .text-column {
        flex: 1;
        padding: 20px;
        padding-left: 300px;
      }

      .image-column {
        flex: 1;
        text-align: center;
        padding-right: 200px;
      }

      .circular-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
      }

      .circular-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .fixed-icons {
        position: fixed;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        z-index: 1000;
      }

      .fixed-icons a {
        display: block;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
        background-color: darkcyan;
        border-radius: 50%;
        padding: 10px 15px;
        margin-left: 125px;
        transition: background-color 0.3s;
      }

      .fixed-icons a:hover {
        border-radius: 75%;
        background-color:rgb(6, 110, 110);
        transform: scale(1.4);
        transition: background-color 0.3s, transform 0.3s;
      }

      p {
        line-height: 1.4;
        font-size: 1.1em;
      }

      .contact-button {
        display: inline-block;
        background-color: darkcyan;
        color: #fff;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        /* Adjust the margin as needed */
        transition: background-color 0.3s;
        position: relative;
      }

      .contact-button:hover {
        background-color: #ee0d0d;
        transform: scale(1.1);
      }

      #about-me {
        padding: 40px 0;
      }

      #about-me .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #about-me .text-column {
        flex: 1;
        text-align: center;
        padding-right: 250px;
        max-width: 800px;
      }

      #about-me h2 {
        font-size: 2em;
        color: #333;
      }

      #about-me h3 {
        font-size: 20px;
        color: darkcyan;
        margin-top: 10px;
      }

      #about-me p {
        font-size: 1.1em;
        color: #555;
        line-height: 1.6;
      }

      #about-me .stat-box {
        margin-top: 10px;
        padding: 20px;
        text-align: center;
      }
      #about-me .stat-box p:hover{
        background-color: #f4f4f477;
      }

      #about-me .stat-box h4 {
        font-size: 10px;
        color: darkcyan;
      }

      #about-me .stat-box p {
        font-size: 1.9em;
        color: #333;
        margin-top: 10px;
        font-weight: bold;
      }

      .s {
        padding-left: 25px;
        display: flex;
      }

      .image-container {
        position: relative;
      }

      .image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      #about-me .image-column {
        text-align: center;
        position: relative;
        margin-top: -500px;
        /* Adjust the margin-top as needed to bring them up */
        margin-left: 400px;
        /* Adjust the margin-left as needed */
      }

      #about-me .image-container {
        position: relative;
      }

      #about-me .image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 300 3px;
        /* Adjust the margin as needed */
        position: absolute;
      }

      .image1 {
        top: 100px;
        right: 0;
        left: 100px;
        z-index: 1;
      }
      .image1:hover{
        z-index: 3;
        transform: scale(1.1);
        transition: transform 0.3s;
        border-radius: 5px;
      }

      .image2 {
        top: 40px;
        left: -25px;
        right: 40px;
      }
      .image2:hover{
        z-index: 4;
        transform: scale(1.1);
        transition: transform 0.3s;
        border-radius: 5px;
      }
#Skills .container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Updated alignment */
    height: 70vh;
    padding: 20px;
}

#Skills .skill {
    flex: 1;
}

#Skills .skills1 {
    align-items: center; 
    padding: 70px;
    padding-left: 300px;
    line-height: 1.5;
    font-size: large;
}

#Skills .text-column {
    flex: 1;
    padding-left: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px; 
}
#Skills ul{
    padding: 15px;
    font-size: medium;
    line-height: 1.3;
}
#Skills li{
    padding: 5px;
}

#Skills .skill-meter {
    width: 300px;
    height: 10px;
    background-color: rgb(151, 214, 216);
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
}

#Skills .skill-progress {
    height: 100%;
    width: 95%;
    background-color: cadetblue;
}

#Skills .skill-progress-1 {
    height: 100%;
    width: 75%;
    background-color: cadetblue;
}

#Skills .skill-progress-3 {
    height: 100%;
    width: 85%;
    background-color: cadetblue;
}

#Skills .skill-progress-4 {
    height: 100%;
    width: 65%;
    background-color: cadetblue;
}

#Skills h1 {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.1em;
    color: #333;
}

p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}
      #contact {
        padding: 40px 0;
      }
      #contact .m {
        /* justify-content: center; */
        /* display: flex; */
        width: 100%;
      }

      #contact .section {
        font-size: 2em;
        color: #333;
      }

      #contact .subtitle {
        font-size: 1.2em;
        color: darkcyan;
        margin-bottom: 20px;
        display: block;
      }

      #contact .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 0;
        height: 70vh;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
      }

      #contact .contact__info {
        /* flex: ; */
        margin-right: 20px;
      }

      #contact .text-column {
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        /* margin-left: 300px; */
        padding: 20px;
      }
      #contact .form-column {
        display: flex;
      }

      #contact .contact__form {
        /* flex: 5; */
        width: 400px;
      }

      #contact .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
      }

      #contact .contact__inputs {
        grid-template-columns: 1fr 1fr;
      }

      #contact .contact__content {
      }

      #contact .contact__label {
        font-size: 1.1em;
        text-align: left;
        color: #555;
      }

      #contact .contact__input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      #contact .button {
        display: inline-block;
        background-color: darkcyan;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        position: relative;
      }

      #contact .button:hover {
        background-color: #ee0d0d;
        transform: scale(1.1);
      }

      #contact .button--flex {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #contact .button__icon {
        margin-left: 5px;
      }

      #contact .contact-icon {
        margin-right: 5px;
      }

      #contact .fa-phone:before {
        content: "\f095";
      }

      #contact .fa-envelope:before {
        content: "\f0e0";
      }

      #contact .fa-map-marker-alt:before {
        content: "\f3c5";
      }

      #contact .fa-paper-plane:before {
        content: "\f1d8";
      }
